* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    display: block;
    padding: 10px 20px;
    padding-top: 26px;
    margin: 0;
}

.footer{
    width: 100%;
    position: relative;
    bottom: 0;

}
.copyright {

  width: 100%;
  position: relative;
  bottom: 0;

}


.integrantes {
    border: 1px solid white;
    padding: 10px;

}

.botonadmin{
    border: 1px solid white;
    margin-left: auto;
    
}

.principal{
    border: 3px solid red;
    margin: 40px;
    width: 90%;
    padding: 10px;
    height: 100%;
}

.prueba {
    margin: 30px;
}

table {
    border: black 1px solid;
}

td, th {
    border: black 1px solid;
}


