* {
    font-family: Arial, Helvetica, sans-serif;
}

.integrantes {
    border: 1px solid white;
    padding: 10px;

}

.botonadmin{
    flex: 0 0 33.3333333333%;
    
}

.principal{
    margin: 40px;
    height: 100%;
}

.prueba {
    margin: 30px;
}

table {
    border: black 1px solid;
}

td, th {
    border: black 1px solid;
}

.cabecera{
    display: flex;
    margin-bottom: 10px;
}

.avion{
    margin-left: 20px;
}

/* .footer{
    width: 100%;
    position: relative;
    bottom: 0;

}
.copyright {

  width: 100%;
  position: fixed;
  bottom: 0;

} */

/*.expe{
  column-count: 3;
  column-gap: 40px;
}*/

.experiences{
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    
    /* grid-template-columns: auto auto auto auto; */
    /* grid-column-gap: 50px; */
}

.experiences>* {
  flex: 0 0 22.2222%;
}

.cards {
    margin: 20px;    
    list-style-type: none;
  }
  
  .cards li {
    float: left;    
    display: block;
    margin-right: 2%;
    margin-bottom: 10px;
  }
  
  img {
    height: auto;    
  }
  
  .product-card {
    max-width: 280px;
    font-size: 12px;
  }
  
  .product-card > a {
    background: #f2f2f2;
    color: #333;
    transition: all 100ms;
    position: relative;
    display: block;
    z-index: 0;
    padding-bottom: 5px;
  }
  
  .product-card > a:hover {
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
  }
  
  .product-card .product-card-img {
    display: block;
    height: auto;
    max-height: 150px;
    width: 100%;
  }
  
  .product-card figcaption {
    display: block;
    padding: 0 10px;
  }
  
  .product-card .product-card-address {
    color: #888;
    line-height: 1.2;
  }
  
  .product-card .product-card-address i {
      font-size: 14px;
      margin-right: 2px;
    line-height: 1.2;
  } 
  
  .product-card .product-card-price {
    display: block;
    text-align: right;
  }
  
  .product-card .product-card-price .price-savings,
  .product-card .product-card-price .original-price {
    line-height: 22px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .product-card .product-card-price .price-savings {
    float: left;
    color: green;
    color: #82b548;
  }
  
  .product-card .product-card-price .original-price {
    color: #aaa;
    font-size: 14px;
  }
  
  .product-card .product-card-price .amount-price {
    text-align: right;
    font-size: 20px;
    color: #82b548;
  }
  
  .product-card .product-card-price .from {
    font-size: 12px;
  }